.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.category-section {
    margin-top: 30px;
}
.category-section .card {
    margin: 10px;
}
@media (max-width: 768px) {
    .carousel-item img {
        max-width: 100%;
        height: auto;
    }
}

body {
    background: linear-gradient(to bottom, #aaf2c9, #ffffff);
    /* Gradiente de verde claro para branco */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.destaque {
    background-color: #c5b4c4; /* Cor de fundo mais chamativa */
    padding: 40px 20px; /* Aumentar o padding para dar mais espaço */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adicionar sombra */
    animation: fadeInUp 1s ease-out forwards; /* Animação de fade-in */
    opacity: 0; /* Inicialmente invisível */
    transform: translateY(20px); /* Levemente deslocada para baixo */
}

.destaque .section-title {
    color: #333333; /* Cor do texto mais escura para contraste */
    font-size: 2.5rem; /* Aumentar o tamanho do texto */
}

.destaque .fas.fa-shopping-bag {
    color: #dd6151; /* Cor do ícone */
    font-size: 2rem; /* Aumentar o tamanho do ícone */
}
@keyframes fadeInUp {
    to {
        opacity: 1; /* Tornar visível */
        transform: translateY(0); /* Mover para a posição original */
    }
}

.section-products {
    background-color: #f0f0f0; /* Cor de fundo para destacar a seção */
    padding: 60px 0; /* Espaçamento interno superior e inferior */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

.section-products .section-title {
    color: #333; /* Cor do texto do título */
    font-size: 2.5rem; /* Tamanho do texto do título */
    margin-bottom: 30px; /* Espaçamento inferior para separar do conteúdo */
}

.section-products .fas.fa-shopping-bag {
    color: #dd6151; /* Cor do ícone */
    font-size: 2rem; /* Tamanho do ícone */
}
footer {
    background-color: #f8f9fa; /* Cor de fundo do footer */
    color: #666; /* Cor do texto do footer */
    padding: 20px 0; /* Espaçamento interno superior e inferior */
}

footer a.secure-link {
    color: #333; /* Cor do link */
    text-decoration: none; /* Remove sublinhado padrão */
    margin-left: 5px; /* Espaçamento à esquerda do emoji */
    font-size: 1.2rem; /* Tamanho do texto do link */
}
